* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5%;
    color: #fff;
}

.options {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

select {
    background-color: #333;
    border: 1px solid #444;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

option {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
}

input {
    width: 100%;
}

myspace {
	display: block;
	width: 100%;
}

button {
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: .5rem;
    cursor: pointer;
}

#savebutton {
	width: 48%;
	display: inline-block;
}

#saveallbutton {
	width: 48%;
	float: right;
	display: inline-block;
}

#save-label {
	text-align: center;
    padding-bottom: .9rem;
}

@media screen and (max-width: 1000px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    textarea {
        width: 100%;
    }
}

#file-input-lex {
  display: none;
}

#file-input {
  display: none;
}

#left-label {
    padding-bottom: .9rem;
	text-align: center;
	width: 48%;
	display: inline-block;
}

#right-label {
    padding-bottom: .9rem;
	text-align: center;
	width: 48%;
	display: inline-block;
	float: right;
}

#file-button-lex {
	width: 48%;
	display: inline-block;
}

#file-button {
	width: 48%;
	float: right;
	display: inline-block;
}

#text-area {
    background-color: #333;
    border: 1px solid #444;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 1rem;
    resize: vertical;
    min-height: 55vh;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
}

#stat-area {
    background-color: #222;
    border: 0 solid #222;
	font-family: monospace;
    font-size: .9rem;
    line-height: inherit;
    padding: 1rem;
    resize: vertical;
    min-height: 18vh;
    color: #999;
    flex-grow: 1;
    border: none;
	outline: none;
    cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #333;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #222;
}

#text-area::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

#text-area::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #222;
}

#text-area::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #333;
}

::-webkit-resizer {
  display: none;
  background-color: #222;
}

#text-area::-webkit-resizer {
  display: none;
  background-color: #333;
}

#is-lexx {
    color: inherit;
    text-decoration: none;
}
